.menu-card {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 92%;
    background-color: black;
    color: white;
    margin: 30px 0px;
    box-shadow: 6px 6px 10px #0050A5;
    font-size: 17px;
    cursor: pointer;
}

.menu-card:hover {

    box-shadow: 9px 9px 20px #0050A5;

}

.menu-descripcion {
  
    text-align: start;
    padding: 20px;

}

.menu-foto {

    height: 180px;
    width: auto;
    object-fit: contain;
    margin: 20px 10px;
    border-radius: 16px;

}

.menu-boton {

    background-color: #0050A5;
    padding: 7px 13px;
    border-radius: 5px;
    border: none;
    color:white;


}

.modal-content {

    margin-top: 30px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #F02B3D;
    height: 100%;
    width: 100%;
}


.modal-body {

    color: white;

}

.modal-header {

    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80px;

}

.modal-titulo {

    color: white;

}

.modal-body .menu-foto {

    width: auto;
    height: 160px; 
}


.modal-titulo h3 {

    font-size: 22px;

}

@media screen and (min-width: 0px) and (max-width: 390px) {

    .menu-foto {

        height: 60px;
    
    }

    .menu-card {

        font-size: 10px;

    }
    
    h3 {

        font-size: 12px;

    }
   
    

}

@media screen and (min-width: 391px) and (max-width: 500px) {

    
    .menu-foto {

        height: 100px;
    
    }

    .menu-card {

        font-size: 12px;

    }
    
    h3 {

        font-size: 18px;

    }
    

}

@media screen and (min-width: 501px) and (max-width: 700px) {

    
    .menu-foto {

        height: 120px;
    
    }

    .menu-card {

        font-size: 15px;

    }
    
    h3 {

        font-size: 20px;

    }
    

}