.item-list-contenedor {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;  
}

@media screen and (max-width: 1200px) {
    
    .item-list-contenedor {
        grid-template-columns: 1fr;  
    }
    
}